<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>CreateOrder</servlet-name>
  	<display-name>CreateOrder</display-name>
  	<description></description>
  	<servlet-class>il.aircon.view.CreateOrder</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListOrders</servlet-name>
  	<display-name>ListOrders</display-name>
  	<description></description>
  	<servlet-class>il.aircon.view.ListOrders</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>CreateOrder</servlet-name>
  	<url-pattern>/CreateOrder</url-pattern>
  </servlet-mapping>
</web-app>
